<h4>Reusable CSS widgets for your applications.</h4>

<div class="layout-widgets">
    <div class="p-grid">
        <div class="p-col-6 p-md-4 p-xl-2">
            <div class="card overview-box blue">
                <i class="pi pi-globe"></i>
                <h5>Global Listings</h5>
                <span>4 Active Listings</span>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-xl-2">
            <div class="card overview-box green">
                <i class="pi pi-dollar"></i>
                <h5>Today's Sales</h5>
                <span>$784.00 sales so far</span>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-xl-2">
            <div class="card overview-box orange">
                <i class="pi pi-tag"></i>
                <h5>Open Orders</h5>
                <span>14 Pending Orders</span>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-xl-2">
            <div class="card overview-box lime">
                <i class="pi pi-money-bill"></i>
                <h5>Total Balance</h5>
                <span>$87,974.00</span>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-xl-2">
            <div class="card overview-box purple">
                <i class="pi pi-envelope"></i>
                <h5>Buyer Messages</h5>
                <span>1 Unread Message</span>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-xl-2">
            <div class="card overview-box turquoise">
                <i class="pi pi-desktop"></i>
                <h5>Today's Sessions</h5>
                <span>1028 sessions so far</span>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card status-box up">
                <div class="status-info">
                    <h5>Conversion Rate</h5>
                    <span><i class="pi pi-arrow-up"></i> 2.3% more</span>
                </div>
                <h3>22.6%</h3>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card status-box down">
                <div class="status-info">
                    <h5>Sales This Week</h5>
                    <span><i class="pi pi-arrow-down"></i> 12.3% less</span>
                </div>
                <h3>189</h3>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card status-box up">
                <div class="status-info">
                    <h5>Active Customers</h5>
                    <span><i class="pi pi-arrow-up"></i> 19.6% more</span>
                </div>
                <h3>8272</h3>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card status-box up">
                <div class="status-info">
                    <h5>Active Products</h5>
                    <span><i class="pi pi-arrow-up"></i> 4.3% more</span>
                </div>
                <h3>4890</h3>
            </div>
        </div>

        <div class="p-col-12 p-md-6  p-xl-4">
            <div class="card tasks">
                <div class="card-header">
                    <h5>Tasks</h5>
                    <button pButton pRipple type="button" label="Add New" icon="pi pi-plus" class="p-button-outlined"></button>
                </div>
                <ul>
                    <li>
                        <span class="task" >Restock Inventory</span>
                        <span>03 Sep, 2020</span>
                        <div class="category blue">
                            <span>Admin</span>
                        </div>
                    </li>
                    <li>
                        <span class="task">Design Mockups</span>
                        <span>03 Sep, 2020</span>
                        <div class="category orange">
                            <span>Project</span>
                        </div>
                    </li>
                    <li>
                        <span class="task">Conference</span>
                        <span>03 Sep, 2020</span>
                        <div class="category purple">
                            <span>Event</span>
                        </div>
                    </li>
                    <li>
                        <span class="task">Hire Add Manager</span>
                        <span>03 Sep, 2020</span>
                        <div class="category orange">
                            <span>Admin</span>
                        </div>
                    </li>
                    <li>
                        <span class="task">Bussiness Meeting</span>
                        <span>03 Sep, 2020</span>
                        <div class="category purple">
                            <span>Event</span>
                        </div>
                    </li>
                    <li>
                        <span class="task">Hire Add Manager</span>
                        <span>03 Sep, 2020</span>
                        <div class="category green">
                            <span>Managment</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6  p-xl-4">
            <div class="card contacts">
                <div class="card-header">
                    <h5>Contacs</h5>
                    <button pButton pRipple type="button" label="Add New" icon="pi pi-plus" class="p-button-outlined"></button>
                </div>
                <ul>
                    <li>
                        <div class="profile">
                            <img src="assets/demo/images/avatar/amyelsner.png" alt="paradise-layout" />
                            <div class="profile-info">
                                <h5>Amy Elsner </h5>
                                <span class="blue">Finance</span>
                            </div>
                        </div>
                        <div class="profile-action">
                            <button pButton pRipple type="button" icon="pi pi-star" class="p-button-rounded p-button-outlined p-mr-2"></button>
                            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined p-mr-2 p-menu-button" (click)="menu1.toggle($event)"></button>
                            <p-menu #menu1 [popup]="true" [model]="items"></p-menu>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-outlined p-mr-2"></button>
                        </div>
                    </li>
                    <li>
                        <div class="profile">
                            <img src="assets/demo/images/avatar/bernardodominic.png" alt="paradise-layout" />
                            <div class="profile-info">
                                <h5>Bernardo Dominic </h5>
                                <span class="orange">Managment</span>
                            </div>
                        </div>
                        <div class="profile-action">
                            <button pButton pRipple type="button" icon="pi pi-star" class="p-button-rounded p-button-outlined p-mr-2"></button>
                            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined p-mr-2 p-menu-button" (click)="menu2.toggle($event)"></button>
                            <p-menu #menu2 [popup]="true" [model]="items"></p-menu>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-outlined p-mr-2"></button>
                        </div>
                    </li>
                    <li>
                        <div class="profile">
                            <img src="assets/demo/images/avatar/ivanmagalhaes.png" alt="paradise-layout" />
                            <div class="profile-info">
                                <h5>Ivan Magalhaes </h5>
                                <span class="purple">Design</span>
                            </div>
                        </div>
                        <div class="profile-action">
                            <button pButton pRipple type="button" icon="pi pi-star" class="p-button-rounded p-button-outlined p-mr-2"></button>
                            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined p-mr-2 p-menu-button" (click)="menu3.toggle($event)"></button>
                            <p-menu #menu3 [popup]="true" [model]="items"></p-menu>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-outlined p-mr-2"></button>
                        </div>
                    </li>
                    <li>
                        <div class="profile">
                            <img src="assets/demo/images/avatar/ionibowcher.png" alt="paradise-layout" />
                            <div class="profile-info">
                                <h5>Ioni Bowcher </h5>
                                <span class="blue">Finance</span>
                            </div>
                        </div>
                        <div class="profile-action">
                            <button pButton pRipple type="button" icon="pi pi-star" class="p-button-rounded p-button-outlined p-mr-2"></button>
                            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined p-mr-2 p-menu-button" (click)="menu4.toggle($event)"></button>
                            <p-menu #menu4 [popup]="true" [model]="items"></p-menu>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-outlined p-mr-2"></button>
                        </div>
                    </li>
                    <li>
                        <div class="profile">
                            <img src="assets/demo/images/avatar/annafali.png" alt="paradise-layout" />
                            <div class="profile-info">
                                <h5>Anna Fali </h5>
                                <span class="green">Sales</span>
                            </div>
                        </div>
                        <div class="profile-action">
                            <button pButton pRipple type="button" icon="pi pi-star" class="p-button-rounded p-button-outlined p-mr-2"></button>
                            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-outlined p-mr-2 p-menu-button" (click)="menu5.toggle($event)"></button>
                            <p-menu #menu5 [popup]="true" [model]="items"></p-menu>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-outlined p-mr-2"></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-xl-4">
            <div class="card slider-list">
                <div class="card-header">
                    <h5>Restock Your Inventory</h5>
                    <button pButton pRipple type="button" label="View More" class="p-button-outlined"></button>
                </div>
                <div class="slide-row-wrapper">
                    <div class="slide-row"
                         [ngStyle]="{'transform': 'translate3d(' + (-1*(100*activeProduct))+'%, 0, 0)'} ">
                        <div class="slide ">
                            <div class="item-content">
                                <img src="assets/demo/images/product/bamboo-watch.jpg" alt="paradise-layout" />
                                <span class="product-badge status-outofstock">Out of Stock</span>
                                <div class="item-info">
                                    <h5>Bamboo Watch</h5>
                                    <span>Accessories</span>
                                </div>
                                <button pButton pRipple type="button" label="Restock" class="p-button-outlined"></button>
                            </div>
                        </div>
                        <div class="slide ">
                            <div class="item-content">
                                <img src="assets/demo/images/product/black-watch.jpg" alt="paradise-layout" />
                                <span class="product-badge status-outofstock">Out of Stock</span>
                                <div class="item-info">
                                    <h5>Black Watch</h5>
                                    <span>Accessories</span>
                                </div>
                                <button pButton pRipple type="button" label="Restock" class="p-button-outlined"></button>
                            </div>
                        </div>
                        <div class="slide ">
                            <div class="item-content">
                                <img src="assets/demo/images/product/brown-purse.jpg" alt="paradise-layout" />
                                <span class="product-badge status-lowstock">Low Stock</span>
                                <div class="item-info">
                                    <h5>Brown Purse</h5>
                                    <span>Accessories</span>
                                </div>
                                <button pButton pRipple type="button" label="Restock" class="p-button-outlined"></button>
                            </div>
                        </div>
                    </div>
                    <div class="link-points">
                        <div class="points">
                            <div class="left-button slide-button" (click)="prevProduct($event)">
                                <i class="pi pi-arrow-left"></i>
                            </div>
                            <div class="right-button slide-button" (click)="nextProduct($event)">
                                <i class="pi pi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-xl-6">
            <div class="card revenue-graph">
                <div class="card-header">
                    <h5>Total Revenue</h5>
                    <div id="order-tabs-container" class="order-tabs">
                        <div class="order-tab" data-label="New Sales" data-index="0" data-stroke="#3984b8" [ngClass]="{'order-tab-active':activeOrders===0}"
                             (click)="changeDataset($event); orders.refresh()">
                            <h6>Week</h6>
                        </div>
                        <div class="order-tab " data-label="Previous Sales" data-index="1" data-stroke="#BAD638" [ngClass]="{'order-tab-active':activeOrders===1}"
                             (click)="changeDataset($event); orders.refresh()">
                            <h6>Month</h6>
                        </div>
                    </div>
                </div>
                <div class="overview-chart">
                    <p-chart #orders type="bar" [data]="ordersChart" [options]="ordersOptions" [responsive]="true" height="450px"></p-chart>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-xl-6">
            <div class="card payments">
                <div class="card-header">
                    <h5>Latest Payments</h5>
                    <button pButton pRipple type="button" label="View More" class="p-button-outlined"></button>
                </div>
                <ul>
                    <li>
                        <div class="progress">
                            <p-progressBar [value]="60" [showValue]="false"></p-progressBar>
                            <span>Proce­ssing</span>
                        </div>
                        <div class="payment-amount">
                            <h6>Payment Amount</h6>
                            <h5>$3,518.99</h5>
                        </div>
                        <div class="payment-status">
                            <h6>Payment Status</h6>
                            <h5><i class="pi pi-info-circle"></i> Started</h5>
                        </div>
                    </li>

                    <li >
                        <div class="progress">
                            <p-progressBar [value]="80" [showValue]="false"></p-progressBar>
                            <span>Sent to bank</span>
                        </div>
                        <div class="payment-amount">
                            <h6>Payment Amount</h6>
                            <h5>$2,124.66</h5>
                        </div>
                        <div class="payment-status">
                            <h6>Payment Status</h6>
                            <h5><i class="pi pi-info-circle"></i> Started</h5>
                        </div>
                    </li>

                    <li class="done">
                        <div class="progress">
                            <p-progressBar [value]="100" [showValue]="false"></p-progressBar>
                            <span>Ackno­wledge­d by bank</span>
                        </div>
                        <div class="payment-amount">
                            <h6>Payment Amount</h6>
                            <h5>$1,952.20</h5>
                        </div>
                        <div class="payment-status">
                            <h6>Payment Status</h6>
                            <h5><i class="pi pi-check"></i> Done</h5>
                        </div>
                    </li>

                    <li class="done">
                        <div class="progress">
                            <p-progressBar [value]="100" [showValue]="false"></p-progressBar>
                            <span>Ackno­wledge­d by bank</span>
                        </div>
                        <div class="payment-amount">
                            <h6>Payment Amount</h6>
                            <h5>$1,952.20</h5>
                        </div>
                        <div class="payment-status">
                            <h6>Payment Status</h6>
                            <h5><i class="pi pi-check"></i> Done</h5>
                        </div>
                    </li>

                    <li class="done">
                        <div class="progress">
                            <p-progressBar [value]="100" [showValue]="false"></p-progressBar>
                            <span>Ackno­wledge­d by bank</span>
                        </div>
                        <div class="payment-amount">
                            <h6>Payment Amount</h6>
                            <h5>$1,952.20</h5>
                        </div>
                        <div class="payment-status">
                            <h6>Payment Status</h6>
                            <h5><i class="pi pi-check"></i> Done</h5>
                        </div>
                    </li>

                    <li class="done">
                        <div class="progress">
                            <p-progressBar [value]="100" [showValue]="false"></p-progressBar>
                            <span>Ackno­wledge­d by bank</span>
                        </div>
                        <div class="payment-amount">
                            <h6>Payment Amount</h6>
                            <h5>$1,952.20</h5>
                        </div>
                        <div class="payment-status">
                            <h6>Payment Status</h6>
                            <h5><i class="pi pi-check"></i> Done</h5>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
