$primaryColor: #B85CC8;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff;

$highlightBg: rgba($primaryColor,.9) ;
$highlightTextColor: $primaryTextColor;

@import '../sass/theme/_theme';
