.overview-box {
    height: 100%;

    > i {
        padding: 6px;
        font-size: 16px;
        background-color: rgba(#3984b8,.3);
        color: #3984b8;
        border-radius: 4px;
        margin-bottom: 20px;
        height: 28px;
        width: 28px;
    }

    h5 {
        margin: 0 0 3px;
    }

    > span {
        opacity: .8;
    }

    &.blue {
        > i {
            background-color: rgba(#3984b8,.3);
            color: #3984b8;
        }
    }
    &.green {
        > i {
            background-color: rgba(#37a533,.3);
            color: #37a533;
        }
    }
    &.purple {
        > i {
            background-color: rgba(#7e8dcd,.3);
            color: #7e8dcd;
        }
    }
    &.lime {
        > i {
            background-color: rgba(#BAD638,.3);
            color: #BAD638;
        }
    }
    &.orange {
        > i {
            background-color: rgba(#f6ac2b,.3);
            color: #f6ac2b;
        }
    }
    &.turquoise {
        > i {
            background-color: rgba(#39b8b6,.3);
            color: #39b8b6;
        }
    }
}

.revenue-graph {
    overflow: auto;

    .order-tabs {
        @include flex();
        @include flex-justify-start();

        .order-tab {
            cursor: pointer;
            padding: 6px 18px;
            @include border-radius(4px);
            border: 2px solid transparent;

            &.order-tab-active {
                border-color: rgba($primaryColor,.4);

            }

            h6 {
                margin: 0;
            }
        }
    }
}

.slider-list {
    height: 100%;
    .slide-row-wrapper {
        overflow: hidden;
        position: relative;
        margin: 1em 0;
        padding: 0;
        border-radius: 4px;

        .slide-row {
            height: 100%;
            padding-bottom: 0;
            @include flex();
            flex-direction: row;
            transition: transform 500ms ease 0s;
            transform: translate3d(0px, 0px, 0px);

            .slide {
                z-index: 0;
                flex: 1 0 100%;
                @include transition(visibility .8s);
                @include transition(transform 500ms ease 0s);
                overflow: hidden;
                position: relative;
                text-align: center;

                .item-content {
                    padding: 12px;
                    width: 100%;
                    height: 100%;
                    @include flex();
                    flex-direction: column;
                    @include flex-align-center();
                    @include flex-justify-between();

                    > img {
                        @include border-radius(4px);
                        height: 250px;
                        margin-bottom: 6px;
                    }

                    .item-info {
                        margin: 10px 0 16px;

                        > h5 {
                            margin: 0;
                        }
                    }
                    > span {
                        margin-bottom: 12px;
                    }
                    > button {
                        width: 60%;
                    }
                }
            }
        }

        .link-points {
            position: absolute;
            top: 50%;
            margin-top: -40px;
            left: 24px;
            right: 24px;

            .points {
                @include flex();
                @include flex-align-center();
                @include flex-justify-between();

                .slide-button {
                    width: 24px;
                    height: 24px;
                    border: solid 1px $primaryColor;
                    background-color: $primaryColor;
                    @include border-radius(50%);
                    cursor: pointer;
                    @include flex();
                    @include flex-align-center();
                    @include flex-justify-center();
                    @include transition(border-color $transitionDuration);

                    &:hover {
                        background-color: darken($primaryColor, 5%);
                    }

                    i {
                        @include transition(color $transitionDuration);
                        font-size: 14px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.status-box {
    @include flex();
    @include flex-justify-between();
    @include flex-align-center();

    .status-info {
        > h5 {
            margin: 0 0 12px;
        }
        span {
            display: block;
            i {
                color: $primaryColor;
            }
        }
    }

    > h3 {
        color: rgba($primaryColor,.8);
    }

    &.up {
        .status-info {
            span {
                i {
                    color: #37a533;
                }
            }
        }
        > h3 {
            color: rgba(#37a533,.8);
        }
    }

    &.down {
        .status-info {
            span {
                i {
                    color: #e96443;
                }
            }
        }
        > h3 {
            color: rgba(#e96443,.8);
        }
    }
}

.summary {
    .summary-item {
        padding:6px;
        margin:  0 0 24px;
        @include border-radius(4px);

        >h6 {
            margin: 0 0 6px;
        }
        > h4 {
            margin: 0;
        }

        .ui-rating {
            margin-top: 8px;
        }

        &.colored {
            >h6 {
                color: $primaryColor;
            }
            >h4 {
                color: $primaryColor;
            }
        }
    }
}

.payments {

    > ul {
        list-style: none;
        padding:0;
        overflow: auto;
        max-height: 375px;

        > li {
            @include flex();
            @include flex-justify-between();
            @include flex-align-center();
            padding: 12px 6px;
            cursor: pointer;
            @include border-radius(4px);
            @include transition(background-color $transitionDuration);
            margin: 0px 0px 18px;
            border:2px solid #F2F8FA;

            &:hover {
                background-color: #F2F8FA;
            }

            &.done {
                .payment-status {
                    > h5 {
                        color: #37a533;
                    }
                }
            }

            .progress {
                width: 40%;
                margin: 0 12px;

                .ui-progressbar-value  {
                    background: $primaryColor;
                }

                > span {
                    display: block;
                    opacity: .8;
                    margin-top: 6px;
                }
            }

            .payment-status {
                > h6 {
                    color: $primaryColor;
                    margin: 0 0 8px;
                }
                > h5 {
                    margin: 0;
                    font-weight: normal;
                    display: inline-block;

                    i {
                        display: inline-block;
                    }
                }
            }

            .payment-amount {
                > h6 {
                    color: $primaryColor;
                    margin: 0 0 8px;
                }
                > h5 {
                    margin: 0;
                    font-weight: normal;
                    display: inline-block;

                    i {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.tasks {
    > ul {
        list-style: none;
        padding: 0;

        >li {
            @include flex();
            @include flex-align-center();
            padding: 12px 6px;
            margin: 0px 0px 18px;
            border:2px solid #F2F8FA;
            @include border-radius(4px);

            span {
                width: 100%;
            }
            .category {
                span {
                    text-align: center;
                    padding:3px 6px;
                    background-color: $primaryColor;
                    border-radius: 4px;
                    color: #ffffff;
                    display: block;
                }

                &.blue {
                    span {
                        background-color: #3984b8;
                    }
                }
                &.orange {
                    span {
                        background-color: #f6ac2b;
                    }
                }
                &.purple {
                    span {
                        background-color: #B85CC8;
                    }
                }
                &.green {
                    span {
                        background-color: #37a533;
                    }
                }


            }
        }
    }
}

.profile {
    padding:0;
    border-radius: $borderRadius;
    .profile-header {
        border-radius: $borderRadius;
        background-image: linear-gradient(270deg,$primaryColor 0%,lighten($primaryColor, 20%) 100%);
        @include flex();
        @include flex-justify-center();
        min-height: 120px;
        position: relative;

        > img {
            height:100px;
            width: auto;
            @include border-radius(50%);
            border:4px solid #F2F8FA;
            position: absolute;
            bottom: -40px;
            box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.06);
        }
    }
    .profile-content {
        padding: 52px 12px 12px;
        @include flex();
        @include flex-align-center();
        flex-direction: column;

        > h5 {
            margin: 0 0 6px;
        }

        .profile-action {
            margin-top:12px;
            @include flex();
            @include flex-align-center();
            @include flex-justify-center();
            flex-wrap: wrap;

            .action-item {
                border:2px solid #F2F8FA;
                @include border-radius(4px);
                padding: 6px;
                text-align: center;
                cursor: pointer;
                height: 100%;
                margin: 6px;
                width: 96px;

                > i {
                    font-size:20px;
                    color:$primaryColor;
                }
                > h6 {
                    margin: 6px 0 0;
                }
                &:hover {
                    background-color: #F2F8FA;
                }

                &.blue {
                    > i {
                        color: #3984b8;
                    }
                }
                &.green {
                    > i {
                        color: #37a533;
                    }
                }
                &.purple {
                    > i {
                        color: #7e8dcd;
                    }
                }
                &.orange {
                    > i {
                        color: #f6ac2b;
                    }
                }
            }

        }

    }
}

.contacts {
    > ul {
        list-style: none;
        padding: 0;

        >li {
            @include flex();
            @include flex-align-center();
            @include flex-justify-between();
            padding: 6px;
            margin: 0px 0px 12px;
            border:2px solid #F2F8FA;
            @include border-radius(4px);

            .profile {
                @include flex();
                @include flex-align-center();

                > img {
                    margin-right: 12px;
                }

                .profile-info {
                    > h5 {
                        margin: 0 0 6px;
                    }

                    span {
                        text-align: center;
                        padding:3px 6px;
                        background-color: $primaryColor;
                        border-radius: 4px;
                        color: #ffffff;
                        width: auto;

                        &.blue {
                            background-color: #3984b8;
                        }
                        &.orange {
                            background-color: #f6ac2b;
                        }
                        &.purple {
                            background-color: #B85CC8;
                        }
                        &.green {
                            background-color: #37a533;
                        }
                    }


                }
            }

            .profile-action {
                .p-menu-button {
                    &.p-button {
                        background-color: transparent;
                        color: #7B90B0;
                        border: 1px solid;
                        @include border-radius(50%);
                        height: 2.357rem;
                        width: 2.357rem;
                    }
                }
            }

        }
    }
}

.timeline {
    > ul {
        padding: 0;
        list-style: none;

        > li {
            @include flex();
            margin-bottom: 24px;
            min-height: 55px;

            .event-icon {
                position: relative;
                @include flex-center();
                z-index: 1;
                height: 28px;
                width: 28px;
                padding: 6px;
                background-color: rgba(201, 219, 234, 1);
                border-radius: 4px;
                margin:0 10px;

                i {
                    font-size: 16px;
                    color: #3984b8;
                }

                &::before {
                    content: '';
                    width: 2px;
                    height: 80px;
                    background-color: $bodyBgColor;
                    position: absolute;
                    top: 28px;
                    display: block;
                }

                &.blue {
                    background-color: #c9dbea;
                    i {
                        color: #3984b8;
                    }
                }
                &.orange {
                    background-color: #fde7c8;
                    i {
                        color: #f6ac2b;
                    }
                }
                &.purple {
                    background-color: #dadef0;
                    i {
                        color: #7e8dcd;
                    }
                }
                &.green {
                    background-color: #c8e5c8;
                    i {
                        color: #37a533;
                    }
                }
            }
            .event-content {
                span {
                    display: block;
                    margin-bottom: 6px;
                }
            }

            > span {
                @include flex();
                @include flex-justify-end();
                flex-grow: 1;
                min-width: 75px;
                opacity: .8;
                font-size:11px;
            }
        }
    }
}

.product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-instock {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
}

