<div class="ui-g">
    <div class="ui-g-12">
        <div class="card docs">

            <h1>Current Version</h1>
            <p>Angular 9 and PrimeNG 9</p>

            <h1>Dependencies</h1>
            <p>Paradise has no direct dependency other than PrimeNG. More information about dependencies is available at <a href="https://www.primefaces.org/why-primeng-templates/">Why PrimeNG Templates</a> article.</p>

            <h1>Getting Started</h1>
            <p>Paradise is a true native application template for Angular and is distributed as a CLI project. If you don't have CLI installed already run the following commands to set it up. In case
            you have an application that do not use CLI, skip the <a href="#noncli">Integration with an Existing Non CLI Application</a> part.</p>
<pre>
npm install -g @angular-cli
</pre>

            <p>Once CLI is ready in your system, extract the contents of the Paradise zip file distribution, cd to the directory,
            install the libraries from npm and then execute "ng serve" to run the application in your local environment at http://localhost:4200/.</p>
<pre>
cd Paradise
npm install
ng serve
</pre>

            <p>That's it, you may now start with the development of your application.</p>

            <h1>Important CLI Commands</h1>
            <p>Following commands are derived from CLI.</p>
<pre>
Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.
</pre>

            <h1>Structure</h1>
            <p>Paradise consists of 3 main parts; the application layout, layout resources and theme resources for PrimeNG components. <i>app.component.html</i> inside app folder is the html template for the base layout,
                required resources for the layout are placed inside the <i>src/assets/layout</i> folder and similarly theme resources are inside <i>src/assets/theme</i> folder.
            </p>

            <h1>Template</h1>
            <p>Main layout is the html view of the app.component.ts, it is divided into a couple of sections such as topbar, sidebar and footer. Here is the code for
                the main template. The component class app.component.ts implements the logic such as opening menus and layout modes.
            </p>
<pre>
&lt;div class="layout-wrapper"
    [ngClass]="&#123;'layout-menu-slim': slimMenu,
                'layout-menu-overlay': overlayMenu,
                'layout-menu-static': staticMenu,
                'layout-menu-static-inactive': staticMenuInactive,
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-active': mobileMenuActive&#125;"&gt;

    &lt;app-topbar&gt;&lt;/app-topbar&gt;

    &lt;div class="layout-main"&gt;
        &lt;app-menu&gt;&lt;/app-menu&gt;

        &lt;div class="layout-content"&gt;
            &lt;router-outlet&gt;&lt;/router-outlet&gt;
        &lt;/div&gt;

        &lt;app-footer&gt;&lt;/app-footer&gt;
    &lt;/div&gt;

    &lt;div class="layout-mask" *ngIf="mobileMenuActive"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>

            <h1>Menu</h1>
            <p>Menu is a separate component defined in app.menu.component.ts file based on PrimeNG MenuModel API. In order to define the menuitems,
            navigate to app.menu.component.ts and define your own model. Here is the menu component from the sample application.</p>
<pre>
import &#123;Component, OnInit &#125; from '@angular/core';
import &#123;AppComponent &#125; from './app.component';

@Component(&#123;
    selector: 'app-menu',
    templateUrl: './app.menu.component.html'
&#125;)
export class AppMenuComponent implements OnInit &#123;

    model: any[];

    constructor(public app:AppComponent) &#123;&#125;

    ngOnInit() &#123;
        this.model = [
            &#123;label: 'Dashboard', icon: 'fa fa-fw fa-home', routerLink: ['/']&#125;,
            &#123;
                label: 'Menu Modes', icon: 'fa fa-fw fa-bars',
                items: [
                    &#123;label: 'Static Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToStaticMenu()&#125;,
                    &#123;label: 'Overlay Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToOverlayMenu()&#125;,
                    &#123;label: 'Slim Menu', icon: 'fa fa-fw fa-bars',  command: () => this.app.changeToSlimMenu()&#125;,
                    &#123;label: 'Light Menu', icon: 'fa fa-sun-o fa-fw',  command: () => this.app.darkMenu = false&#125;,
                    &#123;label: 'Dark Menu', icon: 'fa fa-moon-o fa-fw',  command: () => this.app.darkMenu = true&#125;
                ]
            &#125;,
            &#123;
                label: 'Layout Colors', icon: 'fa fa-fw fa-magic',
                items: [
                    &#123;
                        label: 'Flat',
                        icon: 'fa fa-fw fa-circle',
                        items: [
                            &#123;label: 'Default', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('default')&#125;&#125;,
                            &#123;label: 'Blue', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('blue')&#125;&#125;,
                            &#123;label: 'Green', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('green')&#125;&#125;,
                            &#123;label: 'Turquoise', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('turquoise')&#125;&#125;,
                            &#123;label: 'Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('purple')&#125;&#125;,
                            &#123;label: 'Orange', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('orange')&#125;&#125;,
                            &#123;label: 'Deep Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('deeppurple')&#125;&#125;,
                            &#123;label: 'Lime', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('lime')&#125;&#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Special',
                        icon: 'fa fa-fw fa-fire',
                        items: [
                            &#123;label: 'Horizon', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('horizon')&#125;&#125;,
                            &#123;label: 'Bliss', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('bliss')&#125;&#125;,
                            &#123;label: 'Crimson', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('crimson')&#125;&#125;,
                            &#123;label: 'Disco', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('disco')&#125;&#125;,
                            &#123;label: 'Sunset', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('sunset')&#125;&#125;,
                            &#123;label: 'Deep Sea', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('deepsea')&#125;&#125;,
                            &#123;label: 'Opa', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('opa')&#125;&#125;,
                            &#123;label: 'Cheer', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('cheer')&#125;&#125;,
                            &#123;label: 'Smoke', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeLayout('smoke')&#125;&#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'Themes', icon: 'fa fa-fw fa-paint-brush',
                items: [
                    &#123;label: 'Blue', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('blue')&#125;&#125;,
                    &#123;label: 'Green', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('green')&#125;&#125;,
                    &#123;label: 'Turquoise', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('turquoise')&#125;&#125;,
                    &#123;label: 'Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('purple')&#125;&#125;,
                    &#123;label: 'Orange', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('orange')&#125;&#125;,
                    &#123;label: 'Deep Purple', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('deeppurple')&#125;&#125;,
                    &#123;label: 'Lime', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('lime')&#125;&#125;,
                    &#123;label: 'Light Blue', icon: 'fa fa-fw fa-paint-brush', command: (event) => &#123;this.changeTheme('lightblue')&#125;&#125;,
                ]
            &#125;,
            &#123;
                label: 'Components', icon: 'fa fa-fw fa-sitemap', routerLink: ['/components'],
                items: [
                    &#123;label: 'Sample Page', icon: 'fa fa-fw fa-columns', routerLink: ['/components/sample']&#125;,
                    &#123;label: 'Forms', icon: 'fa fa-fw fa-code', routerLink: ['/components/forms']&#125;,
                    &#123;label: 'Data', icon: 'fa fa-fw fa-table', routerLink: ['/components/data']&#125;,
                    &#123;label: 'Panels', icon: 'fa fa-fw fa-list-alt', routerLink: ['/components/panels']&#125;,
                    &#123;label: 'Overlays', icon: 'fa fa-fw fa-square', routerLink: ['/components/overlays']&#125;,
                    &#123;label: 'Menus', icon: 'fa fa-fw fa-minus-square-o', routerLink: ['/components/menus']&#125;,
                    &#123;label: 'Messages', icon: 'fa fa-fw fa-circle-o-notch', routerLink: ['/components/messages']&#125;,
                    &#123;label: 'Charts', icon: 'fa fa-fw fa-area-chart', routerLink: ['/components/charts']&#125;,
                    &#123;label: 'File', icon: 'fa fa-fw fa-arrow-circle-o-up', routerLink: ['/components/file']&#125;,
                    &#123;label: 'Misc', icon: 'fa fa-fw fa-user-secret', routerLink: ['/components/misc']&#125;
                ]
            &#125;,
            &#123;label: 'Landing Page', icon: 'fa fa-fw fa-certificate', url: 'assets/pages/landing.html', target: '_blank'&#125;,
            &#123;
                label: 'Template Pages', icon: 'fa fa-fw fa-life-saver', routerLink: ['/pages'],
                items: [
                    &#123;label: 'Empty Page', icon: 'fa fa-fw fa-square-o', routerLink: ['/pages/empty']&#125;,
                    &#123;label: 'Login Page', icon: 'fa fa-fw fa-sign-in', url: 'assets/pages/login.html', target: '_blank'&#125;,
                    &#123;label: 'Error Page', icon: 'fa fa-fw fa-exclamation-circle', url: 'assets/pages/error.html', target: '_blank'&#125;,
                    &#123;label: '404 Page', icon: 'fa fa-fw fa-times', url: 'assets/pages/404.html', target: '_blank'&#125;,
                    &#123;label: 'Access Denied Page', icon: 'fa fa-fw fa-exclamation-triangle', url: 'assets/pages/access.html', target: '_blank'&#125;
                ]
            &#125;,
            &#123;
                label: 'Menu Hierarchy', icon: 'fa fa-fw fa-gg',
                items: [
                    &#123;
                        label: 'Submenu 1', icon: 'fa fa-fw fa-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 1.1', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 1.1.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 1.1.2', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 1.1.3', icon: 'fa fa-fw fa-sign-in'&#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 1.2', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 1.2.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 1.2.2', icon: 'fa fa-fw fa-sign-in'&#125;
                                ]
                            &#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Submenu 2', icon: 'fa fa-fw fa-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 2.1', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 2.1.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 2.1.2', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 2.1.3', icon: 'fa fa-fw fa-sign-in'&#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 2.2', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123;label: 'Submenu 2.2.1', icon: 'fa fa-fw fa-sign-in'&#125;,
                                    &#123;label: 'Submenu 2.2.2', icon: 'fa fa-fw fa-sign-in'&#125;
                                ]
                            &#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123;label: 'Utils', icon: 'fa fa-fw fa-wrench', routerLink: ['/utils']&#125;,
            &#123;label: 'Documentation', icon: 'fa fa-fw fa-book', routerLink: ['/documentation']&#125;
        ];
    &#125;
&#125;
</pre>

            <h1>Integration with an Existing CLI Project</h1>
            <p>To setup Paradise in an existing project, copy the <i>src/assets</i> folder to your projects folder with the same name
                and replace the contents of app.component.ts, app.component.html with their counterparts in Paradise under <i>src/app</i> folder.</p>

            <p>Install PrimeNG</p>
            <pre>
npm install primeng@latest --save
npm install primeicons@latest --save
</pre>

            <p>Add PrimeNG CSS at styles section in angular.json.</p>

            <pre>
"styles": [
    "../node_modules/primeng/resources/primeng.min.css",        //required: PrimeNG components
    "node_modules/primeicons/primeicons.css",                   //required: PrimeIcons
    "styles.scss"                                               //your styles and overrides
],
</pre>

            <p>Last part is adding theme and layout css files, in the CLI app they are defined using link tags in index.html so the demo can switch them on
            the fly by changing the path however if this is not a requirement, you may also add them to the styles configuration so they go inside the bundle.</p>

            <h1 id="noncli">Integration with an Existing Non-CLI Project</h1>
            <p>For an existing project that do not use CLI, setup steps are more or less similar. Start with installing the dependencies listed above in package.json</p>
            <p>Copy the <i>src/assets</i> folder to your application and include the resources listed above with a module bundler like webpack or using link-script tags.</p>
            <p>Finally copy the contents of app.component.html to your application's main component template such as <i>app/application.html</i> along
            with the sub components which are app.menu.component.ts, app.topbar.component.ts and app.footer.component.ts.</p>

            <h1>Theme</h1>
            <p>Paradise provides 8 PrimeNG themes out of the box, setup of a theme simple including the css of theme to your page that are located inside resources/theme folder.</p>

            <ul>
                <li>theme-blue</li>
                <li>theme-deeppurple</li>
                <li>theme-green</li>
                <li>theme-lightblue</li>
                <li>theme-lime</li>
                <li>theme-orange</li>
                <li>theme-purple</li>
                <li>theme-turquoise</li>
            </ul>

            <p>A custom theme can be developed by the following steps.</p>
            <ul>
                <li>Choose a custom theme name such as theme-myown.</li>
                <li>Create a file named theme-myown.scss under <i>assets/theme folder</i>.</li>
                <li>Define the variables listed below and import the <i>/sass/theme/_theme.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Include the generated theme.css to your page.</li>
            </ul>

            <p>Here are the variables required to create a theme, you may need to change the last line according to the
                relative path of the sass folder in your application.</p>

<pre>
$primaryColor:#63aee2;
$primaryTextColor:#ffffff;

@import '../sass/theme/_theme';
</pre>

            <p> An example sass command to compile the css would be;</p>

<pre>
sass src/assets/theme-myown/theme.scss src/assets/theme-myown/theme.css
</pre>

            <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
            so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre>
sass --watch src/:src/ --no-source-map
</pre>

            <p>Same can also be applied to layout itself;</p>
            <ul>
                <li>Choose a layout name such as layout-myown.</li>
                <li>Create an empty file named layout-myown.scss inside <i>assets/layout/css</i> folder.</li>
                <li>Define the variables listed below and import the <i>/sass/layout/_layout.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Serve the css by importing it using a link tag or a bundler.</li>
            </ul>

            <p>Here are the variables required to create a layout, you may need to change the last line according to the
                relative path of the sass folder in your application.</p>

<pre>
$topbarLeftBgColor:#3984b8;
$topbarRightBgColor:#3984b8;
$topbarLeftTextColor:#ffffff;
$topbarRightTextColor:#ffffff;
$topbarBorderBottomColor:#3984b8;
$primaryColor:#3984b8;
$primaryTextColor:#ffffff;
$accentColor:#36ae2c;
$darkMenuBgColor:#393b3e;
$darkMenuTextColor:#f6f8f9;
$bodyBgColor:#F2F8FA;

@import '../../sass/layout/_layout';
</pre>

            <p>For both cases, several .scss files such as _layout.scss, _theme.scss or _variables.scss has to be present relative to your scss files, these are available inside the resources/sass folder in the distribution.</p>
            <p>In case you'd like to customize the structure not just the colors, the _variables.scss files are where the structural variables (e.g. font size, paddings) for the layout are defined.</p>
<pre>
/*  Common  */
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$fontSize:13px;
$textColor:#757575;
$textSecondaryColor:lighten($textColor,25%);
$borderRadius:2px;
$dividerColor:#dee4e9;
$transitionDuration:.3s;

$black:#000000;
$blue:#3984b8;
$orange:#f6ac2b;
$purple:#7e8dcd;
$pink:#e175a0;
$turquoise:#39b8b6;
$green:#3eb839;
$red:#e17576;
</pre>

<pre>
/* PrimeNG Components Theme */
@import '../_variables';

/* Icons */
$iconFontSize:13px;
$iconWidth:16px;

/* Validatioj */
$inputInvalidBorderColor:#e17576;
$inputInvalidBgColor:#ffffff;

/* Headers */
$headerPadding:.5em 1em;
$headerBgColor:#ffffff;
$headerTextColor:#757575;
$headerHoverBgColor:#dee4e9;
$headerHoverTextColor:#757575;
$headerBorderColor:#c7cdd1;
$headerIconColor:#757575;
$headerIconHoverColor:$primaryColor;

/* Contents */
$contentPadding:.5em 1em;
$contentBorderColor:#c7cdd1;
$contentBgColor:#ffffff;

/* Forms */
$inputBgColor:#ffffff;
$inputPadding:.385em;
$inputBorderColor:#bdc3c9;
$inputHoverBorderColor:#979ca0;
$inputBtnBgColor:#ffffff;
$inputBtnBgHoverColor:#ffffff;
$inputBtnBgActiveColor:#ffffff;

/* Buttons */
$buttonTextColor:#ffffff;
$toggleButtonBgColor:#c6cbcf;

/* List Items */
$listItemPadding:.5em 1em;
$listItemBgColor:#ffffff;
$listItemHoverBgColor:#dee4e9;
$listItemHoverTextColor:#757575;

/* Messages */
$infoMessageBgColor:#a8c9e0;
$infoMessageTextColor:#393b3e;
$warnMessageBgColor:#f8eab9;
$warnMessageTextColor:#393b3e;
$errorMessageBgColor:#fac7c8;
$errorMessageTextColor:#393b3e;
$fatalMessageBgColor:#bdc3c9;
$fatalMessageTextColor:#393b3e;
$successMessageBgColor:#64c660;
$successMessageTextColor:#ffffff;

/* Overlays */
$overlayBorder: 0 none;
$tooltipBgColor: #393b3e;
$tooltipTextColor: #ffffff;

/* Data */
$paginatorBgColor:#ffffff;
$paginatorHoverBgColor:#dee4e9;
$datatableOddRowBgColor:#ffffff;
$datatableEvenRowBgColor:#f6f8f9;
$datatableHoverBgColor:#dee4e9;

//carousel
$carouselNavButtonsBgColor: $primaryColor;
$carouselNavButtonsBorder: solid 1px transparent;
$carouselNavButtonsBorderRadius: 2px;
$carouselNavButtonsMargin: .2em;
$carouselNavButtonsColor: $primaryTextColor;
$carouselNavButtonsHoverBgColor: darken($primaryColor,5%);
$carouselNavButtonsHoverColor: $primaryTextColor;
$carouselNavButtonsHoverBorderColor: solid 1px transparent;
$carouselNavButtonsTransition: color $transitionDuration;
$carouselDotIconWidth: 20px;
$carouselDotIconHeight: 6px;
$carouselDotIconBgColor: #b2c1cd;
$carouselDotIconMargin: 0 .2em;
$carouselActiveDotIconBgColor: $primaryColor;
</pre>

            <h1>Menu Item Badges</h1>
            <p>Badges are numerical indicators of how many items are associated with a link.
               The badge property is value of the badge and badgeStyleClass is style class of the badge.</p>
<pre>
label: 'Components', icon: 'list', badge: '2', badgeStyleClass: 'orange-badge'
</pre>
            <p>Paradise layout has 4 different badge style.There is a default badge which uses the accent color of paradise layout. And there is 3 other badge class for menu items.</p>
            <ul>
                <li>orange-badge</li>
                <li>purple-badge</li>
                <li>blue-badge</li>
            </ul>

            <h1>Menu Modes</h1>
            <p>Menu has 3 modes; static, overlay and slim. Layout container element in application.html is used to define which mode to use by adding specific classes. List
            below indicates the style classes for each mode.</p>
            <ul>
                <li>Static: "layout-wrapper layout-menu-static"</li>
                <li>Overlay: "layout-wrapper layout-menu-overlay"</li>
                <li>Slim: "layout-wrapper layout-menu-slim"</li>
            </ul>

            <p>It is also possible to leave the choice to the user by keeping the preference at a component and using an expression to bind it so that user can switch between modes. Sample
            application has an example implementation of such use case. Refer to app.component.ts for an example.</p>

            <h1>Grid CSS</h1>
            <p>Paradise uses PrimeNG Grid CSS (ui-g-*) throughout the samples, we strongly suggest using Grid CSS as your layout framework as it is well tested and supported by PrimeNG. Grid CSS is
            available inside primeng.css.</p>

            <h1>Customizing Styles</h1>
            <p>It is suggested to add your customizations in the following sass files under the override folder instead of adding them to the
                scss files under sass folder to avoid maintenance issues after an update.</p>

            <ul>
                <li><b>_layout_variables</b>: Variables of the layout.</li>
                <li><b>_layout_styles</b>: Styles for the layout.</li>
                <li><b>_theme_variables</b>: Variables of the theme.</li>
                <li><b>_theme_styles</b>: Styles for the theme.</li>
            </ul>

            <h1>Migration Guide</h1>
            <h4>8.0.0 to 9.0.0</h4>
            <p>Angular 9 and PrimeNG 9</p>
            <ul>
                <li>Update dependencies with <a href="https://angular.io/cli/update">ng update</a>.</li>
                <li>Update theme.css and layout.css files.</li>
                <li>Update app.menu.component.ts and app.menu.component.html while retaining your MenuModel.</li>
                <li>Include app.menuitem.component.ts under app folder and define it app.module.ts with declarations property.</li>
                <li>Include app.menu.service.ts under app folder and define it app.module.ts with providers property.</li>
            </ul>

            <h4>7.0.0 to 8.0.0</h4>
            <ul>
                <li>Update your project to Angular 8 with ng update. View the official update guide -<a href="https://update.angular.io/">https://update.angular.io/</a>- for more information.</li>
                <li>Update app.component.ts.</li>
                <li>Update app.menu.component.ts.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>6.1.0 to 7.0.0</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>6.0.0 to 6.1.0</h4>
            <p>Adds support for new features in PrimeNG 6.1.x</p>
            <ul>
                <li>Update theme css files.</li>
                <li>Update layout css files.</li>
            </ul>

            <h4>5.2.1 to 6.0.0</h4>
            <p>Brings support for Angular 6 and RxJS 6, adds theming for new components in PrimeNG such as the new TreeTable
                and improves behaviors of the layout menus.</p>
            <ul>
                <li>Add PrimeIcons package.</li>
                <li>Update app.module.ts.</li>
                <li>Update app.component.ts.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>5.2.0 to 5.2.1</h4>
            <ul>
                <li>Update app.component.ts.</li>
                <li>Update app.topbar.component.html.</li>
                <li>Update app.menu.component.ts and app.menu.component.html.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>5.0.0 to 5.2.0</h4>
            <p>Adds support for PrimeNG 5.2.0 (e.g. TurboTable), replaces nanoscroller with PrimeNG ScrollPanel.</p>
            <ul>
                <li>Remove nanoscroller as it is replaced by ScrollPanel component of PrimeNG.</li>
                <li>Update app.component.ts.</li>
                <li>Update app.menu.component.ts and app.menu.component.html.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>1.2.0 to 5.0.0</h4>
            <ul>
                <li>Update theme css files.</li>
                <li>Update layout css files.</li>
                <li>Update app.menu.component.ts, app.menu.component.html and app.component.ts.</li>
            </ul>

            <h4>1.1.0 to 1.2.0</h4>
            <ul>
                <li>Update theme css files.</li>
                <li>Update app.menu.component.ts and app.component.ts.</li>
            </ul>

            <h4>1.0.1 to 1.1.0</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
                <li>Update AppSubmenu component in app.menu.component.ts.</li>
            </ul>

            <h4>1.0.0 to 1.0.1</h4>
            <ul>
                <li>Includes version updates to PrimeNG 4, no change required.</li>
            </ul>
        </div>
    </div>
</div>
